* {
	margin: 0;
	padding: 0;
}

body {
	color: #eeeeee;
	font: 1.25em "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman", Times, serif;
	letter-spacing: 1.25px;
	background-color: #1a1a1a;
}

li {
	list-style-type: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #eeeeee;
}

.main {

}

.clear {
	clear: both;
}

.left {
	float: left;
	max-width: 30%;
}

.right{
	float: left;
	max-width: 70%;
}

.container {
	border: 1px solid black;
	background: #2a2a2a;
	padding: 20px;
	margin: 20px;

}

.container h1 {
	text-align: center;
}

.idea {
	padding: 20px;
}

.idea h1, h2, h3, h4 {
	color: purple;
}

.container h1 {
	color: purple;
	margin-bottom: 10px;
}

.container h4 {
	color: green;
}


p {
	margin: 10px 0;
}

.note {
	color: orange;
}